*.swp
jobsubs
.ipynb_checkpoints
__pycache__
analysis/jupyter/cardiogenics_mono_macro
analysis/jupyter/*.pkl
analysis/external/DHS_Index_and_Vocabulary_hg38_WM20190703.txt*
analysis/external/multi-tissue.master.ntypes.simple.hg19.bed
analysis/external/multi-tissue.master.ntypes.simple.hg38_hglft_genome_620db_fada10.bed
main/tissue_table.txt
main/01a_resubmit_tejaas_rand.sh
analysis/plots
analysis/snps_with_pval1
