*.swp
jobsubs
.ipynb_checkpoints
__pycache__
main/archive
analysis/jupyter/archive
preprocess/gtex/archive
*.pkl
analysis/external/DHS_Index_and_Vocabulary_hg38_WM20190703.txt*
analysis/external/multi-tissue.master.ntypes.simple.*
analysis/external/human_protein_coding_genes_gencode_v26.txt
analysis/external/tissue_specific_TFs
analysis/external/segway_encyclopedia
analysis/external/roadmap_chromhmm
analysis/plots
analysis/cis-eGene_biotype_enrichment
analysis/cre_enrichment
analysis/dhs_enrichment
analysis/distance_from_pcgenes
analysis/distance_from_transcription_factor
analysis/gencode_annotation_enrichment
analysis/tfdist_enrichment_wrt_genes.py
