*.swp
jobsubs
.ipynb_checkpoints
__pycache__
main/archive
analysis/jupyter/archive
preprocess/gtex/archive
*.pkl
analysis/cistf_enrichment/jobsubs*
!analysis/cistf_enrichment/jobsubs*/master.sbatch
!analysis/cistf_enrichment/jobsubs*/submit_jobs.sh
analysis/cre_enrichment
analysis/dhs_enrichment/jobsubs
!analysis/dhs_enrichment/jobsubs/master.sbatch
!analysis/dhs_enrichment/jobsubs/submit_jobs.sh
analysis/dhs_enrichment/segway_genomebiol_2019
analysis/distance_from_pcgenes
analysis/external/DHS_Index_and_Vocabulary_hg38_WM20190703.txt
analysis/external/eQTLGen/2018-09-04-trans-eQTLsFDR0.05-CohortInfoRemoved-BonferroniAdded.txt
analysis/external/eQTLGen/2018-09-04-trans-eQTLsFDR0.05-CohortInfoRemoved-BonferroniAdded.txt.gz
analysis/external/gtex_ciseqtls
analysis/external/gtex_v8_gwas_imputations
analysis/external/human_protein_coding_genes_gencode_v26.txt
analysis/external/multi-tissue.master.ntypes.simple.hg19.bed
analysis/external/multi-tissue.master.ntypes.simple.hg38_hglft_genome_620db_fada10.bed
analysis/external/multi-tissue.master.ntypes.simple.hg38_hglft_genome_620db_fada10_clean.bed
analysis/external/roadmap_chromhmm/all_hg38lift_statesByLine
analysis/external/roadmap_chromhmm/E129_example
analysis/external/segway_encyclopedia/*.bed
analysis/external/tissue_specific_TFs
analysis/gencode_annotation_enrichment/gencode.v26.annotation.gtf
analysis/gencode_annotation_enrichment/gencode.v26.annotation.gtf.gz
analysis/gencode_annotation_enrichment/hsa.bed.gz
analysis/gencode_annotation_enrichment/hsa_piRNA.bed
analysis/gencode_annotation_enrichment/hsa_piRNA_sorted.bed
analysis/gencode_annotation_enrichment/pirnadb.hg38.*
analysis/plots
analysis/tfdist_enrichment_wrt_genes.py
